.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

src/**
!src/helpers/jsontree.css
!src/helpers/jsontree.js
!src/*.html

node_modules
!node_modules/@vscode-elements/elements/dist/*.js
!node_modules/@vscode/codicons/dist